<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>WholeDisks</key>
	<array>
		<string>disk0</string>
		<string>disk9</string>
	</array>
	<key>AllDisksAndPartitions</key>
	<array>
		<dict>
			<key>Content</key>
			<string>GUID_partition_scheme</string>
			<key>DeviceIdentifier</key>
			<string>disk0</string>
			<key>Partitions</key>
			<array>
				<dict>
					<key>DeviceIdentifier</key>
					<string>disk0s1</string>
					<key>Size</key>
					<integer>100</integer>
				</dict>
				<dict>
					<key>DeviceIdentifier</key>
					<string>disk0s2</string>
					<key>Size</key>
					<integer>900</integer>
				</dict>
			</array>
			<key>Size</key>
			<integer>1000</integer>
		</dict>
		<dict>
			<key>Content</key>
			<string>GUID_partition_scheme</string>
			<key>DeviceIdentifier</key>
			<string>disk9</string>
			<key>Partitions</key>
			<array>
				<dict>
					<key>DeviceIdentifier</key>
					<string>disk9s1</string>
					<key>Size</key>
					<integer>2000</integer>
				</dict>
			</array>
			<key>Size</key>
			<integer>2000</integer>
		</dict>
	</array>
</dict>
</plist>
